#block{
    height: 12rem;
    width: 12rem;
    margin: auto;
    background-color: blueviolet;
    border-radius: 50%;
}

#block img{
    height: 200%;
    width: 200%;
    border-radius: 50%;
    border: 2px solid;
    box-shadow: 0 0 50px 15px hwb(60 92% 5%);
    
}

#square{
    /* height: 100%; */
    /* width: 100%; */
    margin: auto;
    background-color: #fff;
}

button{
   height: 2.5rem;
   width: 10rem;
    margin: auto;
}
button:hover{
    box-shadow: 0 0 15px 5px rgb(227, 219, 219);
    cursor: pointer;
}
#btn1{
    display: block;
}
#btn2{
    display: block;
}

#square {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}

#rectangle {
    width: 100px;
    height: 50px;
    margin-top: 25px;
    background-color: aliceblue;
}

#circle {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 50%
}

#oval {
    width: 100px;
    height: 50px;
    margin-top: 25px;
    background-color: aliceblue;
    border-radius: 100px / 50px;
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid aliceblue;
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid aliceblue;
}

#triangle-topleft {
    width: 0;
    height: 0;
    border-top: 100px solid aliceblue;
    border-right: 100px solid transparent;
}

#triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100px solid aliceblue;
    border-right: 100px solid transparent;
}

#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 100px solid aliceblue;
    border-left: 100px solid transparent;
}


#triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid aliceblue;
    border-bottom: 50px solid transparent;
}


